
body {
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .evolution-section {
    padding: 50px 0;
  }
  
  
  .btn-success {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  
  .btn-success:hover {
    background-color: #45a049;
    border-color: #45a049;
  }
  
 
  header {
    color: #4CAF50;
  }
  
 
  footer {
    color: #FFEB3B;
  }
  